<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YouTubeDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YouTubeDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <YouTubeDownloader.Properties.Settings>
      <setting name="IsLoggedIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessTokenCreationDate" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountPicture" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountName" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountEmail" serializeAs="String">
        <value />
      </setting>
    </YouTubeDownloader.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <YouTubeDownloader.Properties.Settings>
      <setting name="ClientID" serializeAs="String">
        <value>115417136002-p8u7q4nfprqiu37cajnro8mctbj7fv4t.apps.googleusercontent.com</value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value>Le9f5tUmvJGtjoTmeRN6JPEh</value>
      </setting>
    </YouTubeDownloader.Properties.Settings>
  </applicationSettings>
</configuration>